.container
  .row
    .col-12
      h1.first-text.fw-bold.text-center.text-uppercase Добро пожаловать, #{name_user}
  .row
    .col-12
      h2.first-text.first-text-little.px-5 Ваши заказы:
  .row
    .col-12
      if (orders.length > 0)
	      for order in orders
          .order_back.mb-4.font-mont
            p.first-text.fw-bold.text-center #{order.title}
            p.first-text.first-text-little #{order.discription}
            p.first-text.text-center #{order.status}
      else
        .mb-4.font-mont
          p.first-text.text-center #{message}
  .row
    .col-6.px-5
      p.first-text.first-text-little Мы всегда рады видеть Вас в нашем салоне!
      p.first-text.first-text-little Здесь Вы можете вживую посмотреть кухни, предметы мебели и аксессуары европейских брендов, различные варианты отделок и фасадов и ознакомиться с последними каталогами ведущих фабрик.
      p.first-text.first-text-little Также в салоне Вы всегда можете воспользоваться бесплатной консультацией нашего дизайнера.
    .col-6.border.border-secondary.border-5.px-0
      script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad1a5893aac5359b75107c15a65c9184e3bebff8fcf41061271f3a2674e1830c4&amp;width=700&amp;height=600&amp;lang=ru_RU&amp;scroll=true")
  .row
    .col-12.order_contact.m-4.justify-content-around.fw-bold
      p.contacts-row Адрес:
        span.font-normal.mx-2 г. Таганрог, ул. Петровская 15
      p.contacts-row Телефон:
        span.font-normal.mx-2 +7 (863) 431-4707
        span.font-normal.mx-2 +7 (863) 431-1707
      p.contacts-row Email:
        span.font-normal.mx-2 barvenko@list.ru
      p.contacts-row Мы есть в VK:
        span.font-normal.mx-2 vk.com/ludikuhni
    h2.first-text.text-center Ждем Вас снова!
